* {
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333;
}


.replace {
    color: blue;
    border-bottom: 1px blue dotted;
    cursor: pointer;
}

div.input {
    padding: 5px;
}

div.input textarea {
    height: 100px;
    border-radius: 5px;
}

input {
    margin: 5px;
}

.right {
    float: right;
}
